.FormButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    color: var(--color-primary-text-light);
    background-color: var(--color-primary-buttons);
    height: 2.5rem;
    padding: 1rem;
    border: none;
    border-radius: .2rem;
}