.App{
    // display: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4rem;
    /* align-content: center; */
    height: 100vh;
    width: 100%;
    align-items: center;
}